div {
  font-family: "Playfair Display", serif;
}

h1 {
  text-align: center;
}

.mainBody {
background-color: #A4AC96;

}

a {
  cursor: pointer;
}

#listOfPosts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.postCard {
  width: 400px;
  background-color: antiquewhite;
  margin: 15px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
}

#listOfPosts .innerDiv {
  width: auto;
  align-self: flex-start;
  word-break: break-word;
}

.postSection {
  text-align: center;
  width: 40%;
  display:flex;
  margin: auto;
  padding-top: 30px;
}

.postAuthor {
  font-weight: bold;
  font-size: 20px;
}

.contentDiv {
  padding: 10px; 
  max-width: 100%;
  background-color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
}
.postContent {
  border-radius: 5px;
  width: 200px;
}


.btn-success:hover {
  background-color: #dee2e6 !important;
  color: #5cb85c !important;
}

.navbar-brand {
  font-size: 40px !important;
}