h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


#listOfPosts {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

#listOfPosts div {
  width: 400px;
  background-color: antiquewhite;
  margin: 15px;
  padding: 5px;

}

.postDate {
  background-color: cadetblue;
}